@import "home";
@import "home1";
@import "home2";
@import "home3";
@import "home4";
@import "home5";
@import "home6";
@import "menu";
@import "config";
$theme: #2F83F5;
/**
 * 更改ionic默认样式
 */
.md ion-content{
  background-color: #F3F3F3;
}
.md .toolbar {
    min-height: 4.5rem;
}
.md ion-navbar {
    min-height: 4.5rem;
}
.item-input.input-has-focus::after {
  border-bottom: none; }

.item-input.ng-valid.input-has-value.input-has-focus::after {
  border-bottom: none; }

.item-input.ng-invalid.ng-touched.input-has-focus::after {
  border-bottom: none; }

/**
 * 自定义样式
 */
[vertical-middle] {
    vertical-align: middle;
}
[padding-right-menu]{
    padding-right: 44px;
}

.md .next-button{
  background-color: #F3F3F3;
}
.md .menu-box .loading-wrapper{
  background:none;
  box-shadow:none;
}
.md .menu-box ion-backdrop{
  opacity:1;
}

/**
 * 表单验证
 */
.md .valid-data{
  border: 1px solid #CC0033;
}

/**
 * 下一步按钮绝对定位
 */
.md .next-button .button {
    font-size: 18px;
    height: 4.2rem;
}
.md .wf-next-button .cancel-butto {
    font-size: 14px;
    color: #545454;
}
/**
 * 暂不设置影藏框
 */
.md .hide-button {
    width: auto;
    height: 4.5rem;
}
