// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

/**
 * alert 弹窗
 */
.md .alert-head{
  padding: 0;
}
.md .alert-message{
  text-align: center;
}
.md .alert-wrapper{
  min-width:28rem;
}
.md .alert-button-group{
  border-top: 1px solid #ccc;
  padding: 0;
}
.md .alert-button-group .alert-button{
  display: inline-block;
  width: 50%;
  margin: 0;
  height: 48px;
  font-size: 1.8rem;
}
.md .alert-button-group .alert-button:first-child{
  border-right: 1px solid #ccc;
  color: #545454;
}
.md .alert-button-group .alert-button .button-inner{
  justify-content:center;
}

/**
 * 采用 ios 单选样式
 */
.md .radio-icon {
    position: relative;
    display: block;
    width: 16px;
    height: 21px;
    border: none;
}
.radio-checked .radio-inner{
    position: absolute;
    top: 4px;
    left: 7px;
    width: 5px;
    height: 12px;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #387ef5;
    transform: rotate(45deg);
}

.radio-inner{
    position:static;
    top:0;
    left: 0;
    width:0;
    height: 0;
    border: none;
    border-radius:0;
    transition: all 0ms ease;
    background-color:#fff;
}
/* --------------------  */
