<ion-menu [content]="content" swipeEnabled="false">
	<ion-content class="outer-content" class="wf-menu">
		<ion-list>
			<ion-list-header>
				网络管理
				<hr>
				<img (click)="closeMenu()" src="./build/static/img/config/menu-hide.png"/>
			</ion-list-header>
			<p ion-item *ngFor="let p of appPages" (click)="openPage(p.page)">
				<ion-icon item-left [name]="p.icon"></ion-icon>
				{{p.title}}
			</p>
		</ion-list>

		<ion-list>
			<ion-list-header>
				系统设置
				<hr>
			</ion-list-header>
			<p ion-item *ngFor="let p of appSysPages" (click)="openPage(p.page)">
				<ion-icon item-left [name]="p.icon"></ion-icon>
				{{p.title}}
			</p>
		</ion-list>
	</ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
