/**
 * 黑名单
 */

.wf-hmdConfig ion-list {
    padding-top: 2rem;
}

.wf-hmdConfig ion-list .item-inner {
    margin-right: 8px;
}

.wf-hmdConfig ion-avatar {
    min-width: 2rem;
    min-height: 2rem;
}

.wf-hmdConfig ion-avatar img {
    width: 2rem;
}

.wf-hmdConfig ion-avatar[item-left] {
    margin: 0;
    padding: 14px 16px 14px 0;
    border-bottom: 1px solid #dedede;
}

.wf-hmdConfig ion-item:last-child ion-avatar[item-left] {
    border-bottom: none;
}

.wf-hmdConfig .wf-hmdConfig-empty {
    position: relative;
    top: -5rem;
    padding-top: 50%;
    padding-left: 50%;
    right: 4rem;
}

.wf-hmdConfig .wf-hmdConfig-empty img {
    width: 8rem;
}

.wf-hmdConfig .next-button {
    padding: 0 1.5rem;
}

.wf-hmdConfig .removeHmd-bt {
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0 1.3rem;
    background-color: red;
    font-size: 1.8rem;
    color: #fff
}


/**
 * 网络设置
 */

.wf-wlConfig .wf-triangle {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    position: absolute;
    right: 20px;
    background-color: #f3f3f3;
    margin: 0;
    z-index: 1;
    bottom: -0.6rem;
}

.wf-wlConfig .wan-config ion-list {
    margin: 0;
}

.wf-wlConfig .wan-config ion-list:first-child {
    margin: 0 0 16px;
}

.wf-wlConfig .wan-config ion-list:nth-child(4) {
    margin: 0 0 16px;
}

.wf-wlConfig .wan-config ion-list:nth-child(6) .item {
    border-top: none;
}

.wf-wlConfig ion-label[fixed] {
    flex: 0 0 120px;
}

.wf-wlConfig .wan-config .conrent-text .item {
    background-color: #f3f3f3;
}

.wf-wlConfig .wan-config .conrent-text .item:first-child {
    border: none;
}

.wf-wlConfig .wan-config .conrent-text .item:last-child {
    border: none;
}

.wf-wlConfig .wifi-config .conrent-text .item {
    background-color: #f3f3f3;
}

.wf-wlConfig .wifi-config ion-list {
    margin: 0;
}

.wf-wlConfig .wifi-config ion-list:first-child .item {
    border-bottom: none;
}

.wf-wlConfig .wifi-config ion-list .item {
    border-top: none;
}

.wf-wlConfig .wifi-config ion-list:first-child .item {
    border-top: 1px solid #dedede;
}

.wf-wlConfig .wifi-config ion-list:nth-child(2) {
    border-top: 1px solid #dedede;
    position: relative;
}

.wf-wlConfig .wifi-config ion-list:nth-child(5) {
    position: relative;
}

.wf-wlConfig .wifi-config ion-list:nth-child(8) {
    position: relative;
}

.wf-wlConfig .next-button {
    padding: 0 1.5rem;
}


/**
 * 工作模式
 */

.wf-gzConfig .img-empty {
    position: relative;
    top: -5rem;
    padding-top: 50%;
    padding-left: 50%;
    right: 6rem;
}

.wf-gzConfig .img-empty img {
    width: 12rem;
}

.wf-gzConfig .next-button {
    padding: 0 1.5rem;
}

.wf-gzConfig .next-button {
    padding-bottom: 1rem;
}

.wf-gzConfig1 .gzConfig1 {
    margin: 10rem auto 0;
}

.wf-gzConfig1 .gzConfig1 h5,
.wf-gzConfig1 .gzConfig1 p {
    text-align: center;
}

.wf-gzConfig1 .gzConfig1 h5 {
    font-size: 1.8rem;
    color: #4991F3;
}

.wf-gzConfig1 .gzConfig1 p {
    font-size: 1.4rem;
    color: #9C9C9C;
}

.wf-gzConfig1 .gzConfig1:nth-child(2) {
    margin: 5rem auto 10rem;
}

.wf-gzConfig1 .next-button {
    padding: 0 1.5rem;
}

.wf-gzConfig1 .next-button {
    padding-bottom: 1rem;
}

.wf-gzConfig2 .wf-triangle {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    position: absolute;
    top: 8.2rem;
    right: 20px;
    background-color: #f3f3f3;
    margin: 0;
}

.wf-gzConfig2 ion-list {
    margin: 0;
}

.wf-gzConfig2 ion-list .item {
    border-top: none;
}

.wf-gzConfig2 .conrent-text .item {
    background-color: #f3f3f3;
}

.wf-gzConfig2 ion-list:nth-child(4) {
    border-bottom: none;
    margin: 0 0 16px;
}

.wf-gzConfig2 ion-list:nth-child(4) .wf-checkbox {
    border-bottom: none;
}

.wf-gzConfig2 ion-list:nth-child(4) .item:first-child {
    border-bottom: 1px solid #dedede;
}

.wf-gzConfig2 ion-list:nth-child(4) .item:first-child .item-inner {
    border-bottom: none;
}

.wf-gzConfig2 .wf-checkbox {
    height: 2.8rem;
    background-color: #F3F3F3;
    margin-left: 16rem;
    min-height: 24px;
}

.wf-gzConfig2 .wf-checkbox ion-checkbox {
    margin: 9px 9px 9px 4px;
}

.wf-gzConfig2 .wf-checkbox .item-inner {
    border: none;
}


/**
 * Qos限速
 */

// .wf-hmdConfig ion-row{border-bottom: 1px #EEEEEE solid;}
.wf-qos .qos-header {
    height: 20rem;
    background-color: #2780F8;
    padding: 0 2rem;
    border-top: 1px solid #3F8CF4;
}

.wf-qos .qos-header>p {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 12px;
    color: #ACC8FA;
}

.wf-qos .qos-massage {
    padding-top: 2rem;
    height: 10rem;
}

.wf-qos .qos-massage div {
    height: 8rem;
}

.wf-qos .qos-massage div:nth-child(1) {
    float: left;
    width: 40%;
}

.wf-qos .qos-massage div:nth-child(2) {
    float: left;
    width: 20%;
}

.wf-qos .qos-massage div:nth-child(2) img {
    height: 8rem;
}

.wf-qos .qos-massage div:nth-child(3) {
    float: left;
    width: 40%;
}

.wf-qos .qos-massage p {
    margin: 0;
}

.wf-qos .qos-header .qos-btn {
    margin-top: 2.2rem;
}

.wf-qos .qos-header .qos-btn button {
    color: #fff;
    border: 1px solid #fff;
}

.wf-qos .qos-header .top-number {
    margin-right: 0.2rem;
    color: #fff;
    font-size: 30px;
}

.wf-qos .qos-header .top-kb {
    font-size: 12px;
    color: #99C2FA;
}

.wf-qos .qos-header .top-value {
    font-size: 12px;
    color: #99C2FA;
}

.wf-qos .qos-header .top-value span {
    margin-right: 0.2rem;
}

.wf-qos .qos-header .top-value img {
    height: 0.8rem;
}

.wf-qos .qos-list ion-avatar {
    min-width: 2rem;
    min-height: 2rem;
}

.wf-qos .qos-list ion-avatar img {
    width: 2rem;
}

.wf-qos .qos-list ion-avatar[item-left] {
    margin: 0;
    padding: 14px 16px 14px 0;
    border-bottom: 1px solid #dedede;
}

.wf-qos .qos-list ion-item:last-child ion-avatar[item-left] {
    border-bottom: none;
}

.wf-qos .qos-list .qos-wifi-ms p {
    font-size: 12px;
    margin: 0;
}

.wf-qos .qos-list .qos-wifi-ms p.qos-wifi-none {
    font-size: 1.6rem;
}

.wf-qos .qos-list .qos-wifi-ms span {
    margin-right: .5rem;
}

.wf-qos .qos-list .qos-wifi-ms img {
    font-size: 12px;
    height: 0.75rem;
    display: inline-block;
    float: right;
    margin-top: .4rem
}

.wf-qos .next-button {
    padding: 0 1.5rem;
}


/**
 * 方可网络
 */

.wf-fkConfig ion-list {
    margin: 0;
}

.wf-fkConfig ion-list .item {
    margin: 0;
    border-top: none;
}

.wf-fkConfig ion-list:nth-child(1) {
    margin: 16px 0 0 0;
    border-top: 1px solid #dedede;
}

.wf-fkConfig ion-list:nth-child(2) {
    position: relative;
}

.wf-fkConfig .wf-triangle {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    position: absolute;
    right: 20px;
    background-color: #f3f3f3;
    margin: 0;
    z-index: 1;
    bottom: -0.55rem;
}

.wf-fkConfig .conrent-text .item {
    background-color: #f3f3f3;
}

.wf-fkConfig .conrent-text .item:first-child {
    border-top: none;
}
.wf-fkConfig .next-button{
    padding: 0 1.5rem;
}