.wf-hmdConfig ion-list {
    padding-top: 2rem;
}
.wf-hmdConfig ion-avatar {
    min-width: 2rem;
    min-height: 2rem;
}
.wf-hmdConfig ion-avatar img {
    width: 2rem;
}
.wf-hmdConfig ion-avatar[item-left] {
    margin: 0;
    padding: 8px 16px 8px 0;
    border-bottom: 1px solid #dedede;
}
.wf-hmdConfig ion-item:last-child ion-avatar[item-left] {
    border-bottom: none;
}
.hmdConfig-next-button {
    padding: 0 1.5rem;
    background-color: #F3F3F3;
}
